NODE_ENV=development # or production, to set the environment mode
PORT=3000
ENABLE_CRON=true # or false, to enable or disable cron jobs\
MONGO_URI=mongodb://localhost:27017/abctelemedica
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h



APP_NAME=CEEtelemed 
APP_APIKEY=WERTYUIOPASDFGHJKLZXCVBNM1234567890hdhyydtdydydyydy
PHONE_NUMBER_ID=6278378474485651112
WHATSAPP_BUSINESS_ACCOUNT_ID=9876544607296632
WHATSAPP_BUSINESS_ACCOUNT_NAME=CEEtelemed
TEST_PHONE_NUMBER=+17771584118

PAYSTACK_SECRET_KEY=sk_test_1234567890abcdef
PAYSTACK_PUBLIC_KEY=pk_test_1234567890abcdef

FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-9c8b1e5c8a0e7d2fbb3b1a9c4e6f0b2-X
FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-9c8b1a9c4e6f0b2-X
FLUTTERWAVE_WEBHOOK_HASH=helloworldthis_should_be_my