NODE_ENV=development # or production, to set the environment mode
PORT=3000
ENABLE_CRON=true # or false, to enable or disable cron jobs\
MONGO_URI=mongodb://localhost:27017/abctelemed
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h



APP_NAME=CEEtelemed 
APP_APIKEY=WERTYUIOPASDFGHJKLZXCVBNM1234567890hdhyydtdydydyydy
PHONE_NUMBER_ID=6278378474485651112
WHATSAPP_BUSINESS_ACCOUNT_ID=9876544607296632
WHATSAPP_BUSINESS_ACCOUNT_NAME=CEEtelemed
TEST_PHONE_NUMBER=+17771584118