NODE_ENV=development # or production, to set the environment mode
PORT=3000
ENABLE_CRON=true # or false, to enable or disable cron jobs\
MONGO_URI=mongodb://localhost:27017/abctelemedica
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h


ANTHROPIC_API_KEY=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
APP_NAME=CEEtelemed 
APP_APIKEY=WERTYUIOPASDFGHJKLZXCVBNM1234567890hdhyydtdydydyydy
WA_PHONE_NUMBER_ID=6278378474485651112
PHONE_NUMBER_ID=6278378474485651112
WA_BUSINESS_ACCOUNT_ID=9876544607296632
WA_VERIFY_TOKEN=CEEtelemed
WA_ACCESS_TOKEN=OYJ7TYBRN9kZA1OWSBUGpFS2TcZC5pPueAnsEXYKto78XHaF7ZCOcfwreuAZAdXlAWJiT1IG8sDZBg3
TEST_PHONE_NUMBER=+17771584118

PAYSTACK_SECRET_KEY=sk_test_1234567890abcdef
PAYSTACK_PUBLIC_KEY=pk_test_1234567890abcdef

FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-9c8b1e5c8a0e7d2fbb3b1a9c4e6f0b2-X
FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-9c8b1a9c4e6f0b2-X
FLUTTERWAVE_WEBHOOK_HASH=helloworldthis_should_be_my

CLIENT_URL=https://your-frontend-domain.com
APP_URL=https://abctelemed.onrender.com
RESEND_API_KEY=theresendapikey1234567890abcdef
SUPER_ADMIN_PASSWORD=thesuperadminpassword123
SUPER_ADMIN_EMAIL=supermailforadmin@abctelemed.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FROM_EMAIL=noreply@abctelemedica.ng


CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret